VX.ServiceFacade/Service References/VocabServiceReference/VocabExtService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VX.Domain.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VX.Domain.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LanguageContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageContract" nillable="true" type="tns:LanguageContract" />
  <xs:complexType name="WordContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Spelling" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transcription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordContract" nillable="true" type="tns:WordContract" />
</xs:schema>