VX.ServiceFacade/Service References/VocabServiceReference/VocabExtService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vx.com/VocabExtService/VocabExtService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VX.Domain.Surrogates" />
  <xs:element name="GetLanguage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VX.Domain.Surrogates" minOccurs="0" name="GetLanguageResult" nillable="true" type="q1:LanguageSurrogate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VX.Domain.Surrogates" minOccurs="0" name="GetWordResult" nillable="true" type="q2:WordSurrogate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>